.modalEntry {
  width: 990px;
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 50;
}

.modalContainer {
  font-family: Helvetica;
}

.ingredientsContainer {
  position: fixed;
}

.ingredientsTitle {
  font-size: 28px;
  font-weight: 300;
  color: #5D576B;
  margin: 10px 0px 10px 0px;
}

.ingredientList {
  font-size: 16px;
  font-weight: 300;
  color: #5D576B;
}

.anothaContainer {
  float: right;
  width: 640px;
  height: 100%;
}

.title {
  font-size: 28px;
  font-weight: 300;
  color: #5D576B;
  margin: 10px 0px 10px 0px;
}

.description {
  font-size: 16px;
  font-weight: 300;
  color: #5D576B;
}

.exitBtn {
  font-size: 12px;
  font-weight: 300;
  color: #FCFCFC;
  background-color: #99E1D9;
  border: 0px;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}

.exitBtn:hover {
  cursor: pointer;
  background-color: #89CAC3;
}

.exitBtn:active {
  font-size: 12px;
  padding: 4px 9px 4px 9px;
  margin: 1px 1px 21px 1px;
}

.exitBtn:focus {
  outline: 0;
}

.date {
  font-size: 12px;
  font-weight: 300;
  color: #b0b0b0;
  margin: 10px 0px 20px 0px;
}

.entryImg {
  width: 640px;
}