.container {
  font-family: Helvetica;
}

.userImg {
  border: 1px solid #b0b0b0;
  border-radius: 50%;
  width: 78px;
  float: left;
}

.userName {
  font-size: 64px;
  font-weight: 300;
  color: #5D576B;
  margin: 56px 0px 20px 104px;
  /* position: fixed; */
}

.statusContainer {
  background-color: #FFF;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  /* position: fixed; */
}

.statusTitle {
  font-size: 18px;
  font-weight: 600;
  color: #5D576B;
}

.statusTitle2 {
  font-size: 18px;
  font-weight: 600;
  color: #5D576B;
}

.statusTitle:hover {
  cursor: pointer;
}

.status {
  font-size: 18px;
  font-weight: 300;
  color: #5D576B;
}

.statusCell {
  padding: 0px 42px 0px 42px;
}

